main {
  height: 100vh;
  background-color: #181c23;
  color: #e5e7eb;
  padding: 10px;
}

main h3 {
  margin: 10px 0;
}

main .main-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: calc(100vh - 100px);
}

main .main-box {
  height: calc(100vh - 100px);
  margin: 15px;
}

main .main-box h4 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.1em;
}

main .main-box .main-box_text {
  padding: 20px;
  background-color: #1f2937;
}

main .main-box p {
  font-size: 0.9em;
  line-height: 1.75;
  margin-bottom: 20px;
}

main .main-box .main-box_editor {
  height: calc(100% - 95px);
}

main .main-box iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: #eeeeee;
}
